/* .class */
.projects {
    background-color:red;
    border-style:dotted;
    border-color:green;
    border-width:5px;
    border-radius:20px;
}

/* ID Selector  */
#editors {
    background-color:rgb(255,192,203);
    text-decoration:underline;
}

#birthmonth{
    color:hsl(0, 100%, 50%);

}

#number {
    color:hsla(0, 100%, 50%,0);
}

/* Universal Selector  */
* {

}


/* Element Selector  */
h1 {
    background-color:rgba(0, 255, 255,6);

}

/* pseudo class Selector  */
p::hover {

}

/* attribute Selector  */
form[type="text"] {

}